.cabecalhoPrincipal .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabecalhoPrincipal-nav {
	display: flex;
}

.rodapePrincipal-patrocinadores .container {
	display: flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin-right: 5%;
}

.rodapePrincipal-contatoForm {
	width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
	display: flex;
}

.rodapePrincipal-navMap-list {
	display: flex;
	flex-flow: column wrap;
	height: 260px;
}

.conteudoPrincipal-cursos {
	display: flex;
	flex-flow: row wrap;
}

.conteudoPrincipal-cursos-link {
	width: 23%;
}

.videoSobre .container {
	display: flex;
}

.videoSobre-sobre {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	justify-content: space-between;
}

.videoSobre-sobre-list {
	flex-grow: 1;
}

.videoSobre-video {
	flex-grow: 1;
}

/* Mobile */
@media(max-width: 768px) {

	.cabecalhoPrincipal-nav {
		flex-direction: column;
	}

	.cabecalhoPrincipal .container {
		flex-direction: column;
		align-items: initial;
		text-align: center;
	}

	.conteudoPrincipal-cursos {
		flex-flow: column no-wrap;
	}

	.conteudoPrincipal-cursos-link {
		width: 100%;
	}

	.rodapePrincipal-navMap-list {
		height: auto;
	}

	.rodapePrincipal-patrocinadores .container {
		flex-direction: column;
		align-items: center;
	}

	.rodapePrincipal-contatoForm {
		width: 100%;
	}

	.rodapePrincipal-patrocinadores-list {
		width: 100%;
		margin: 0;
	}

	.rodapePrincipal-contatoForm-fieldset {
		justify-content: center;
	}

	.cabecalhoPrincipal-nav-link-app {
		order: -1;
	}

	.videoSobre .container {
		flex-direction: column;
	}

	.videoSobre-video {
		margin: 0 auto;
	}
}